<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pong</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/p.css">
</head>
<body>
	<article>
		<h1><aside>0</aside><aside>0</aside></h1>
		<hr/>
		<canvas id="bg"></canvas>
		<canvas id="pong"></canvas>
	</article>
  <section>
	  <output></output>
  	<div><label for="name">Name:</label><input id="name" maxlength="30" type="text" /><label for="msg">Message:</label><input id="msg" maxlength="255" type="text" /><button>Send Message</button></div>
    <i></i>
  </section>
  <dialog></dialog>
	<script src="/socket.io/socket.io.js"></script>
  <script src="./js/jquery.js"></script>
	<script src="./js/p.js"></script>
</body>
</html>
