extends layout

block content
	#form
		input(id="new-todo",placeholder="Enter the task")
		button(class="add")
			i(class="fa fa-plus-square")
	ul#todolist
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="/javascript/app.js")
		